.modal{
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 45%;
    background-color: wheat;
    height: 50px;
    width: 300px;
}

.login-error{
    display: flex;
    padding: 5px;
    justify-content: space-between;
    gap:20px
}
.login-error p{
    padding-top: 15px;
}
.login-error img{
    height: 20px;
}